{% macro set_opening_hours(form_restaurant) -%}
<button type="button" class="btn btn-dark modalBtn" data-bs-toggle="modal" data-bs-target="#hoursModal">
    set opening times
</button>

<div class="col-md-10">
</div>
<div class="modal fade" id="hoursModal" tabindex="-1" aria-labelledby="modalHeader" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered modal-lg modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header text-center">
                <h5 class="modal-title w-100" id="modalHeader">set opening times</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body pe-5">
                <div class="container-fluid">

                    {% for day_time_form in form_restaurant.opening_hours %}

                    <div class="row mb-4">
                        <div class="col-lg-6 mt-4 mb-2 mb-lg-1 modalDate">
                            {{ day_time_form.day.data }}
                        </div>
                        <div class="col-lg-3 ms-auto">
                            {{ day_time_form.start.label }}
                            {{ day_time_form.start (class="form-control") }}

                        </div>

                        <div class="col-lg-3 ms-auto me-auto">
                            {{ day_time_form.end.label }}
                            {{ day_time_form.end (class="form-control") }}
                        </div>
                    </div>

                    <hr class="book-line">

                    {% endfor %}


                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-target="#confirmationModal"
                    data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
            </div>

        </div>
    </div>
</div>
{%- endmacro %}