{% extends 'base.html' %}
{% block content %}


{% for field, errors in form_restaurant.errors.items() %}
<div class="alert alert-error">
    {{ errors }}
</div>
{% endfor %}

<div class="container">
    <div class="row mt-5 mb-2">
        <h2>edit restaurant</h2>
    </div>

    <!-- Form section-->
    <div class="row">
        <div class="col-lg-8 col-md-9">
            <form method="post" action="{{url_for('restaurants.edit_restaurant', restaurant=restaurant.restaurant_id)}}"
                enctype=multipart/form-data>
                {{ form_restaurant.csrf_token }}
                <!-- Restaurant name & location-->
                <div class="row mt-2 mb-2">
                    <div class="col-10">
                        {{form_restaurant.name.label (class="form-label") }}
                        {{form_restaurant.name (class="form-control")}}
                    </div>
                </div>

                <div class="row mt-3 mb-1 mt-md-3">
                    <div class="col-lg-5 col-md-9">
                        {{form_restaurant.street.label (class="form-label") }}
                        {{form_restaurant.street (class="form-control", placeholder="123 Smith Street")}}
                    </div>

                    <div class="col-lg-3 col-md-9 mt-3 mt-xl-0">
                        {{form_restaurant.suburb.label (class="form-label") }}
                        {{form_restaurant.suburb (class="form-control")}}

                    </div>
                </div>

                <!-- Cuisine type, # courses, and price -->
                <div class="row mt-3 mb-2">
                    <div class="col-6 col-xl-2 col-lg-3 col-md-4">
                        {{form_restaurant.cuisine_type.label (class="form-label") }}
                        {{form_restaurant.cuisine_type (class="form-control")}}
                    </div>

                    <div class="col-7 col-xl-2 col-lg-3 col-md-4">
                        {{form_restaurant.num_courses.label (class="form-label") }}
                        {{form_restaurant.num_courses (class="form-control")}}
                    </div>

                    <div class="col-7 col-xl-3 col-lg-3 col-md-4">
                        {{form_restaurant.max_reservations.label (class="form-label") }}
                        {{form_restaurant.max_reservations (class="form-control")}}
                    </div>

                    <div class="col-7 col-xl-2 col-lg-3 col-md-4">

                        {{form_restaurant.price.label (class="form-label") }}
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            {{form_restaurant.price (class="form-control")}}
                        </div>
                    </div>

                </div>

                <!-- Caption -->
                <div class="row mt-3 mb-2">
                    <div class="col-lg-8">
                        {{form_restaurant.caption.label (class="form-label") }}
                        {{form_restaurant.caption (class="form-control",
                        placeholder="short sweet summary of the restaurant" )}}
                    </div>
                </div>

                <!-- Description-->
                <div class="row mt-3 mb-2">
                    <div class="col-lg-8">
                        {{form_restaurant.description.label (class="form-label") }}
                        {{form_restaurant.description (class="form-control",
                        placeholder="this will be the 'about' section",
                        rows="4")}}
                    </div>
                </div>


                <!-- Photo upload-->
                <div class="row mt-3 mb-2">
                    <div class="col-lg-5 col-md-8">
                        {{ form_restaurant.image.label (class="form-label") }}
                        {{ form_restaurant.image (class="form-control")}}
                    </div>
                </div>

                <!-- Status -->
                <div class="row mt-3 mb-2">
                    {{form_restaurant.status.label (class="form-label")}}
                    <div class="col-lg-8">
                        {% for status in form_restaurant.status %}

                        <div class="form-check form-check-inline">
                            {{ status (class="form-check-input") }}
                            {{ status.label (class="form-check-label") }}
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Link to website -->
                <div class="row mt-3 mb-2">
                    <div class="col-lg-8 col-md-8">
                        {{form_restaurant.website.label (class="form-label") }}
                        <div class="input-group">
                            <span class="input-group-text">URL</span>
                            {{form_restaurant.website (class="form-control")}}
                        </div>
                    </div>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-lg-4">
                        <!--<button class="btn btn-outline-dark" type="submit">submit post</button>-->
                        {{ form_restaurant.submit (class="btn btn-outline-dark") }}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}