{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row me-4 mt-auto">
        <div class="p-5 rounded-lg m-3"
            style="color: #ffffff; background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../static/image/banner_many.jpg');">
            <h1 class="display-4 text-center">Boutique Eats</h1>
            <p class="lead text-center">serving you Brisbane's best fine dining</p>
            <hr class="my-4">
            <p class="text-center">see the latest reservations available now</p>
        </div>
    </div>


</div>

<div class="container">
    <div class="row mt-4 mb-2">
        <div class="col-6">
            <button class="btn btn-outline-dark dropdown-toggle px-3" type="button" data-bs-toggle="collapse"
                data-bs-target="#filterMenu" aria-expanded="false" aria-controls="filterMenu">
                filters
            </button>
        </div>

        <div class="col-6">
            <a class="btn btn-outline-dark float-end" href="{{url_for('main.createrestaurant')}}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus"
                    viewBox="0 0 16 16">
                    <path
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                add a restaurant
            </a>
        </div>
    </div>

    <div class="collapse" id="filterMenu">
        <form method="post" action="{{url_for('main.filtered_index')}}">
            {{ filter_form.csrf_token }}
            <div class="row mt-3">
                <div class="col-5 col-lg-2 col-md-3">
                    {{ filter_form.name (class="form-control", placeholder="restaurant name")}}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-5 col-lg-2 col-md-3">
                    {{ filter_form.cuisine_type (class="form-select") }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="ratingDropDownButton"
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        rating
                    </button>

                    <div class="dropdown-menu" aria-labelledby="ratingDropDownButton">
                        {% for subfield in filter_form.rating %}
                        <div class="form-check">
                            {{ subfield }}
                            {{ subfield.label }}
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

            <div class="row mt-2">
                <div class="dropdown">
                    <button class="btn btn-outline-dark dropdown-toggle" type="button" id="priceDropDownButton"
                        data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                        price
                    </button>

                    <div class="dropdown-menu" aria-labelledby="priceDropDownButton">
                        <div class="input-group px-5">
                            <span class="input-group-text">min $</span>
                            {{ filter_form.minimum_price (class="form-control", placeholder=0) }}
                            <span class="input-group-text">max $</span>
                            {{ filter_form.maximum_price (class="form-control", placeholder=1000) }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-5 col-lg-2 col-md-3">
                    {{ filter_form.courses (class="form-control", placeholder="num courses")}}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-5 col-lg-2 col-md-3">
                    {{ filter_form.submit (class="btn btn-outline-dark")}}
                </div>

            </div>
        </form>
    </div>
</div>

</div>

<div class="container">
    <div class="row mt-3 mt-lg-4 mt-sm-4">
        <!-- A real filled in card - the above one is a holder till the create restaurant is built -->
        {% for restaurant in restaurants %}
        <div class="col-lg-4 col-md-12 pb-5 pb-lg-2 pb-md-5 pb-sm-4">
            <div class="card">

                <img src="{{ restaurant.image }}" class="card-img-top px-2 pt-2" alt="{{ restaurant.name }}">

                <div class="card-body">
                    <div class="row">
                        <div class="col-6 col-lg-8 col-md-6">
                            <div class="card-title">
                                <h5>{{ restaurant.name }} </h5>
                            </div>
                        </div>

                        <div class="col-6 col-lg-4 col-md-6">
                            {% set average = [] %}
                            {% for comment in restaurant.comments %}
                            {% if average.append(comment.user_rating) %} {% endif %}
                            {% endfor %}
                            <span class="badge rounded-pill bg-success float-end">
                                {% if average|count > 0 %}
                                {{ (average | sum / average | count)|round(1)}}
                                {% else %}
                                new
                                {% endif %}
                                &#9733;</span>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8 col-lg-6">
                            <p class="card-text card-cuisine">
                                {% if restaurant.cuisine_type == "None" %}
                                variety
                                {% else %}
                                {{ restaurant.cuisine_type }}
                                {% endif %}
                            </p>
                        </div>

                        <div class="col-4 col-lg-6 card-price">
                            ${{ restaurant.price }} pp.
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="card-text card-location">
                            {{ restaurant.suburb }}
                        </div>
                    </div>

                    <div class="row mt-1">
                        <div class="card-text card-seats">
                            {% if restaurant.statuses[-1].status == "upcoming" %}
                            {% if is_open_today[loop.index - 1] %}
                            {{ booking_space[loop.index - 1] }} tables left:
                            {% else %}
                            {{ restaurant.statuses[-1].status }}:
                            {% endif %}
                            {% else %}
                            {% if restaurant.statuses[-1].status == "booked" %}
                            booked out:
                            {% else %}
                            {{ restaurant.statuses[-1].status }}:
                            {% endif %}
                            {% endif %}
                            {{restaurant.statuses[-1].at_time.strftime("%a, %d %B").lower() }}

                        </div>
                    </div>


                    <a href="{{url_for('restaurants.restaurant', id=restaurant.restaurant_id)}}"
                        class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}