{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row mt-4 mb-1">
        <div class="col-lg-4 col-sm-4">
            <h1>{{ restaurant.name }}</h1>
        </div>

        <div class="col-lg-8 col-sm-8 rating">
            {% set average = [] %}
            {% for comment in restaurant.comments %}
            {% if average.append(comment.user_rating) %} {% endif %}
            {% endfor %}
            <h3> {% if average|count > 0 %}
                {{ average | sum / average | count}}
                {% else %}
                n/a
                {% endif %}&#9733;</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <h4>{{ restaurant.cuisine_type}}, {{restaurant.num_courses}} courses</h4>
            <h5>{{ restaurant.caption }}</h5>
        </div>

        <!-- Restaurant booking modal -->
        {% import 'reservation.html' as reservation %}
        {{reservation.reservation_creation(restaurant, reservation_form)}}
    </div>


    <div class="row mt-3 mb-3">
        <div class="col-lg-5 col-sm-6">
            <img src="{{ restaurant.image }}" class="img-fluid">
        </div>

        <div class="col-lg-7 col-sm-6 info-align mt-3 mt-xl-0">
            <p class="info-heading">
                located at
            </p>
            <p>
                {{ restaurant.street }}<br> {{ restaurant.suburb }}
            </p>

            <hr class="info-line">

            <p class="info-heading">
                open
            </p>
            <p>
                <i>thursday - saturday</i>
                <br>6pm - late
                <br><br><i>sunday</i>
                <br>3pm - late
            </p>

            <hr class="info-line">

            <p class="info-heading">
                pricing
            </p>
            <p>
                ${{ restaurant.price }} pp.
            </p>

            <hr class="info-line">

            <a href="{{ restaurant.website}}">visit the website</a>

            <br><br><br>

            <h2 align="right">about</h2>
            <p class="about">
                {{ restaurant.description }}<br><br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-1">
        <div class="col-lg-2">
            <h2>comments</h2>
        </div>
    </div>


    {% if current_user.is_authenticated %}
    <form method="post" action="{{url_for('restaurants.restaurant', id=restaurant.restaurant_id)}}/comment">
        {{ comment_form.csrf_token }}
        <div class="row mt-3 mb-2">
            <div class="col-10">
                {{comment_form.text.label (class="form-label") }}
                {{comment_form.text (class="form-control")}}
            </div>
        </div>
        <div class="col-6 col-sm-3">
            {{comment_form.user_rating.label (class="form-label") }}
            {{comment_form.user_rating (class="form-control")}}
        </div>
        <div class="col-6 col-sm-3">
            {{ comment_form.submit (class="btn btn-outline-dark my-2") }}
        </div>
    </form>


    {% else %}
    <div class="d-grid gap-2">
        <a class="btn btn-warning bg-warning" type="button" href="{{ url_for('auth.login') }}">LOGIN TO POST
            COMMENTS</a>
    </div>

    {% endif %}

    {% for comment in restaurant.comments %}
    <div class="row mt-4">
        <div class="col-lg-1 col-sm-2">
            <img src="{{ comment.user.image }}" class="avatar">
        </div>
        <div class="col-xl-11 col-lg-12 col-sm-10 mt-2 mt-xl-0 ">
            <h4 class="comment-author"> {{ comment.user.name }} </h4>
            <h5>{{ comment.user_rating }}&#9733; on {{ comment.post_date.strftime("%a, %d %B") }} </h5>
        </div>
    </div>
    <div class="row mt-1">
        <div class="col-lg-1 col-sm-2">

        </div>
        <div class="col-xl-11 col-lg-12 col-sm-10">
            <p class="comment">
                {{ comment.text }}
            </p>
        </div>
    </div>
    {% endfor %}
</div>



<!--
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-1 col-sm-2">
                <img src="img/user_neo.jpg" class="avatar">
            </div>
            <div class="col-xl-11 col-lg-12 col-sm-10 mt-2 mt-xl-0">
                <h4 class="comment-author">Leo</h4>
                <h5>4.1&#9733; on 29/02/2021</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-sm-2">

            </div>
            <div class="col-xl-11 col-lg-12 col-sm-10">
                <p class="comment">
                    The red pill I had the other day was better... This was pretty good too, though.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-1 col-sm-2">
                <img src="img/user_matt.jpg" class="avatar">
            </div>
            <div class="col-xl-11 col-lg-12 col-sm-10 mt-2 mt-xl-0">
                <h4 class="comment-author">Michael McConnaneigh</h4>
                <h5>4.9&#9733; on 18/02/2021</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-sm-2">

            </div>
            <div class="col-xl-11 col-lg-12 col-sm-10">
                <p class="comment">
                    Alright alright alright, now THIS is a good feed!
                </p>
            </div>
        </div>
    </div>
-->
</div>
{% endblock %}