{% include "base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">x</button>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="page-header col-md-1 m-auto">
    <h4>{{heading}}</h4>
</div>

<!-- Form rendering is simple and easy if using bootstrap -->
<div class="col-xl-4 col-md-6 m-auto">
    {{wtf.quick_form(form)}}
</div>

<!-- When you have login form, then do show the user a link to register -->
{% if heading|lower =='login' %}
<div class="col-md-2 m-auto">
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
</div>
{% endif %}

{% endblock %}